/* CSS Document */
#om_stripe_form_hide_after_sucess{border:1px solid #ccc;display: flow-root;padding: 10px;background-color: #1f4674;}
#om_stripe_form_hide_after_sucess label{width:100%;font-size:11px !important;font-weight:bold !important;/* line-height:38px !important; */margin-bottom: 0px !important;color: #fff;}
#om_stripe_form_hide_after_sucess .form-group {
    margin-bottom: 15px;
    display: block;
    height: 70px;
    width: 50%;
    float: left;
}
#om_stripe_form_hide_after_sucess .form-group input{ width:100%;}
#om_stripe_form_hide_after_sucess .form-group:last-child {
    margin-bottom: 15px;
    display: block;
    height: 40px;
    width: 100%;
    float: left;
}
#om_stripe_form_hide_after_sucess .form-group:nth-child(7),#om_stripe_form_hide_after_sucess .form-group:nth-child(8),#om_stripe_form_hide_after_sucess .form-group:nth-child(9) {
   width: 33.33%;
}


#om_stripe_form_hide_after_sucess .col-lg-9{
    width:100%;
}
input[type="text"]{border: #fff 1px solid !important;width:180px;margin-bottom:6px;padding:6px;border-radius:4px;}
select{ border:#999 1px solid; width:180px; margin-bottom:6px; padding:4px; border-radius:4px;}
input[type="button"]{background-color:#333; padding:6px 4px; color:#FFF; border:none; cursor:pointer;border-radius:4px;}
input[type="button"]:hover{ color:#666; background-color:#000;} 
 #error_message,.new_error_message,#error_message2{ color:#FFF !important; font-size:11px; background-color:#931313;  border-radius:6px; margin:2px;}
#error_message,#error_message2{display:none;padding:10px; margin-bottom:4px;}
#sucess_full_payment{padding:10px; margin-bottom:10px;color:#FFF !important;background-color:#27AE60;}
.new_error_message{ text-align:center;padding:4px; margin-bottom:4px;}
#subscription_plan{border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
    color: #2c3e50;
    font-family: montserrat;
    font-size: 13px;
    margin-bottom: 10px;
    padding: 5px;
    width: 100%;}
.buy_number{ cursor:pointer;}	
#om_stripe_form_hide_after_sucess .action-button{
		background: #369FE0 !important;
		color: #fff;
		font-size: 16px;
		width: 100%;
		height: 20px;
		line-height: 20px;
		border-radius: 100%;
		display: inline-block;
		text-align: center;
		box-shadow: none;
}
#om_stripe_form_hide_after_sucess input::-webkit-input-placeholder { 
  color: white;
}
#om_stripe_form_hide_after_sucess input::-moz-placeholder { 
  color: #fff;
}
#om_stripe_form_hide_after_sucess input:-ms-input-placeholder { 
  color: #fff;
}
#om_stripe_form_hide_after_sucess input:-moz-placeholder { 
  color: #fff;
}